html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}  

header, footer, section{
  float: left;
  width: 100%;
}

/** Banner **/

header {
  position: relative;
  height: 400px;
}

header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff94;
  z-index: -1;
  display: block;
  float: left;
  content: "";
}

header video {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  width: 100%;
}

#banner .col {
  text-align: center;
}

#banner #leftBanner h1{
  font-size: 5em;
  line-height: 1.3em;
}

#banner .col p {
  font-size: 1.4em;
}

#banner .col button a {
  text-decoration: none;
  color: #000;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

/** Cards **/

.cardVideo video {
  width: 100%;
}

.card a {
  text-decoration: none;
}

/** sections **/

.sectionTitle {
  text-align: center;
  font-size: 2.7em;
  margin-bottom: 30px;
}

section {
  padding: 50px 0;
}

#aboutMe {
  background-color: #fc9003;
}

/** Footer **/

footer {
  text-align: center;
}