html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}  

header, footer, section{
  float: left;
  width: 100%;
}

header {
  position: relative;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#banner .col:first-child {
  text-align: center;
}

#banner .col p {
  font-size: 1.4em;
}

#banner .col button a {
  text-decoration: none;
}